<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jang.cap.mapper.OWishMapper">
	 <select id="getWishList"  parameterType="SearchVO" resultType="OWishVO" > 
		  
		  
	SELECT *  
	FROM  (  SELECT ROWNUM AS rnum, a.* 
		           FROM   ( SELECT * FROM   cap_owish  WHERE  owish_yn='y'     
	
	   <if test="keyword != null">
	       <choose>  
	          <when test="type == 'title'"> AND title like '%'||#{keyword}||'%' </when>
	          <when test="type == 'userid'">AND userid  like '%'||#{keyword}||'%' </when>
	          
	          <when test="type == 'content'"> AND content  like '%'||#{keyword}||'%' </when>
	       </choose>
	       </if>  
	        order by owno desc  ) a  
		         ) 
		      WHERE rnum  between #{startRow} and #{endRow}    
  </select>
 
<update id="incGoodCnt">
    UPDATE  cap_owish
    SET     recommendcnt=recommendcnt+1
    WHERE   owno  = #{owno}
</update>



<delete id="deleteGoodCnt">
	       DELETE  FROM  cap_owish
	       WHERE owno = #{owno}
    </delete>


<insert id="addWishLike" keyProperty="owno">
    <selectKey keyProperty="owno" resultType="int" order="BEFORE">  
        SELECT COALESCE(MAX(owno), 0) + 1 AS owno  
        FROM   cap_owish
        
    </selectKey>
 
    INSERT INTO cap_owish (ono, owno, userid,img1,name,price)
    VALUES (  #{ono}, #{owno}, #{userid}, #{img1}, #{name}, #{price})
</insert>

<select id="getWishLike" resultType="int">
    SELECT COALESCE(MAX(owno), 0) AS owno
    FROM   cap_owish
    WHERE  userid = #{userid} AND ono = #{ono}  
</select>
<select id="getArticle" resultType="OWishVO">                                       
       SELECT  owno , ono, userid, img1,name,price            
        FROM   cap_owish
        WHERE  owno = #{owno}
     </select>
     <select id="getTotalRow" parameterType="SearchVO"  resultType="int">
	       SELECT count(*) AS totalrow 
	       FROM  cap_owish  
	       WHERE owish_yn='y' 
      

</select>
</mapper>
	